@import '../../../styles/colors.scss';

#productPage {
  overflow-y: auto;
  height: 100%;
  position: relative;
}

.product-wrapper {
  background-color: $light_gray;
  padding: 6rem 3rem 0rem 3rem;

  .product-main-part {
    padding: 3rem 12rem;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5rem;
    .product-photos {
      display: flex; //change to grid 1fr 1fr
      flex-direction: row;
      // width: 50%;
      .product-photos-mini {
        display: flex;
        flex-direction: column;
        padding-right: 1rem;
        img {
          width: 100px;
          height: auto;
          padding-bottom: 1rem;
        }
      }

      .product-photos-main {
        width: 100%;
        img {
          width: 100%;
        }
      }
    }

    .product-main-info {
      font-size: 20px;
      .main-info-title {
        font-size: 24px;
      }

      .main-info-divider {
        width: 100%;
        height: 1px;
        background-color: $orange;
        margin: 1rem 0rem;
      }
      
      .main-info-quantity {
        margin-bottom: 1rem;
        .quantity-picker {
          display: grid;
          grid-template-columns: 2fr 1fr;
          grid-template-rows: 1fr 1fr;
          width: 60px;
          height: 40px;
          margin-right: 1rem;
          
  
          .grid-item:first-child  {
            grid-row: 1 / 3; 
          }
  
          .quantity-picker-button {
            border: 2px solid $black;
            background-color: white;
            border-left: none;
          }
  
          .plus-button {
            height: 21px;
          }
  
          .minus-button {
            border-top: none;
            height: 19px;
  
            // box-sizing: content-box;
          }
          
          .quantity-picker-input {
            width: 100%;
            text-align: center;
            border: 2px solid $black;
            // padding: 10px;
  
          }
        }
      }
      

      .main-info-scu, .main-info-price, .main-info-part_number {
        span{
          font-size: 14px;
        }
      }

      .main-info-description, .main-info-notes {
        font-size: 14px;
      }

      .icon-button {
        display: flex;
        flex-direction: row;
        cursor: pointer;
        margin-right: 2rem;
        // img {
        //   height: 24px;
        //   width: 24px;
        //   display: block;
        //   margin-right: 10px;
        // }
        &.wishlist {
          .icon-button-image {
            background-image: url('../../../assets/icons/heart.svg');
          }
        }

        &.comparelist {
          .icon-button-image {
            background-image: url('../../../assets/icons/compare.svg');
          }
        }

        .icon-button-image {
          height: 24px;
          width: 24px;
          display: block;
          margin-right: 10px;
        }
        span {
          font-size: 14px;
        }

        &:hover {
          color: $orange;
        }
      }
    }
  }

  .product-tabs {
    .product-tab {
      margin: 0rem 2rem;
      font-weight: 300;
      padding-bottom: 5px;

      &.active {
        font-weight: 500;
        border-bottom: 1px solid $black;
      }
    }
  }

  .product-description-wrapper {
    margin: 3rem 0rem;

    .product-description {
      // background-color: black;
      min-width: 50%;
      width: 50%;
      // height: 100px;

      .product-description-text {
        font-size: 14px;
        margin-bottom: 2rem;
      }

      .product-description-list {

        .description-list-item {
          display: flex;
          flex-direction: row;
          .list-item-bullet {
            height: 8px;
            width: 8px;
            display: block;
            margin: 5px;
          }

          .list-item-text {
            font-size: 14px;
          }
        }

        .description-list-divider {
          width: 100%;
          height: 1px;
          background-color: $orange;
          margin: 1rem 0rem;
        }
      }
    }
  }
}