@import '../../../styles/colors.scss'; 

.home-part {
  background-color: $sand;
}

.main-page-part {
  padding: 6rem 0rem;
}

//HOME PART -> IMAGE CONTAINER

.image-container {
  height: 100%;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.image-container img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  vertical-align: middle;
} 

.text-container {
  padding: 1rem;
  background-color: $white;
  width: 400px;
  height: 200px;
}