@import '../../../styles/index.scss';
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Spartan&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;800&display=swap');

.appbar {
  position: sticky;
  transition: all 0.2s;
  z-index: 80;
  top: 0;
  left: 0;
  right: 0;
}

.appbar-custom {
  display: flex;
  flex-direction: row;
  padding: 1rem 2rem;
  align-items: center;
  position: sticky;
  transition: all 0.2s;
  z-index: 80;
  top: 0;
  left: 0;
  right: 0;
  background-color: $light_gray1;

  box-shadow: 0px 1px rgb(0 0 0 / 10%);


  &.collapsed-appbar {
    // padding: 0.5rem 5rem;
    background-color: $black;

    .appbar-logo span {
      color: $white;
    }

    .appbar-icon-badge {
      background-color: white !important;
      color: black !important;
    }
  }

  .appbar-logo {
    color: $black;

    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    
    span {
      font-size: 2rem;
      font-family: 'Righteous', serif;
      letter-spacing: 0.3rem;

      // &.bold-text {
      //   font-family: 'Spartan', serif;
      // }
    }
  }

  .appbar-items {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
    .appbar-icon {
      display: flex;
      align-items: center;
      position: relative;
      cursor: pointer;
    }
  }

  .appbar-sidebar-toggler{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    

    img {
      cursor: pointer;
      height: 1.5rem;
      width: 1.5rem;
      display: block;
    }
    
  }
}