//BLACK AND WHCOLORS
$black: #000;
$white: #fff;
$light_gray: #F7F7F7;
$light_gray1: #E8E8E8;
$gray: #A4A4A4;
$gray1: #808080;
$dark_gray: #303030;
$dark_gray1: #1E1E1E;
// $charcoal: ;

//COLOURED
$dark_purple: #361D2E;
$morning_blue: #86A397;
$khaki: #CBC0AD;
$sand: #F2E2D5;
$orange: #F57250;

//GREY SHADES
