@import '../../../styles/colors.scss';

.footer {

  .footer-blocks {

    .footer-block {
      color: $gray;
      font-size: 12px;
      width: 100%;
      // padding: 0 15%;
      .footer-heading {
        text-transform: uppercase;
        font-weight: bold;
        display: flex;
        flex-direction: row;
        align-items: center;
      }

      .footer-text {
        line-height: 22px;
        color: $gray1;
        font-size: 14px;
      }

      .footer-links {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .footer-link {
          font-size: 14px;
          text-decoration: none;
          color: $gray1;
          line-height: 22px;
          transition: color .3s;
          padding-bottom: 3px;

          &:hover {
            color: #ffffff;
          }
        }
      }

      &.footer-contacts {
        background-color: #1e1e1e;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        border-bottom-width: 1px;
        border-bottom-color: rgba(159,159,159,0.1);
        border-bottom-style: solid;

        display: flex;
        flex-direction: row;
        align-items: center;

        .footer-input-wrapper {
          display: flex;
          flex-direction: row;
          align-items: center;

          input {
            background-color: $dark_gray;
            border: 1px solid $dark_gray;
            padding: 5px 118px 5px 12px;
            font-size: 13px;
            color: $gray;
          }

          button {
            min-height: 32px;
            border: none;
            background-color: $dark_gray;
            color: $gray1;
            transition: color .3s;
            padding: 3px 20px;

            &:hover {
              color: #ffffff;
            }
          }
        }
      }
      
      &.footer-information {
        background-color: #1e1e1e;
        padding-top: 3rem;
        padding-bottom: 3rem;
        display: grid;
        grid-template-columns: 2fr 1fr 1fr 1fr;
        .footer-text {
          margin-right: 20px;
        }

        >div {
          padding: 0 15px;
        }
      }

      &.footer-copyright {
        background-color: $black;
        padding: 1rem;
      }
    }
  }
}

@media (min-width: 768px) {
  .footer-block {
    padding: 0 2rem;
  }
}

@media (min-width: 992px) {
  .footer-block {
    padding: 0 4rem;
  }
}

@media (min-width: 1200px) {
  .footer-block {
    padding: 0 6rem;
  }
}

@media (min-width: 1500px) {
  .footer-block {
    padding: 0 15%;
  }
}